body {
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 36%, 70%);
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

}

header {
    margin: 2.5em 0 2.5em 2.0em;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}





span {
    display: block;

}

.title {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: hsl(0, 6%, 24%);

}

.title span {
    font-weight: 100;
    letter-spacing: 0.2em;
    color: hsl(0, 36%, 70%);

}

form {
    margin: 0 auto;
    display: flex;
}

input[type=text] {
    border: 1px solid hsl(0, 36%, 70%);
    padding: 0.5% 10%;
    border-radius: 10px;
    width: 275px;
    height: 25px;
    margin: auto;

}


input::placeholder {
    color: hsl(0, 36%, 70%);

}

input[type=image] {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: 0 5%;
    position: relative;
    left: -35px;
    border-radius: 50px;


}

.blurb {
    line-height: 1.5em;
    margin-left: 2.5%;
}

.hero_desktop {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 650px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .container--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blurb {
        line-height: 1.5em;
        margin-left: 2.5%;
        width: 60%;
        margin: 0 auto 15px;

    }

    footer {
        bottom: 0;
        width: 100%;
        margin-top: 2.5%;
    }

    .hero_mobile {
        display: none;
    }

    .hero_desktop {
        display: inline;
    }

}